@media screen and (max-width:769px) {
    .btn-sm {
        font-size: 14px;
        line-height: 15px;
    }

    .btn-sm img {
        width: 30px;
    }
    .side-nav {
        width: 100vw;
        transform: translateX(0%);
    }

    .nav-list .item {
        padding: 3px 0px 3px 10px;
    }

    
}

@media screen and (max-width:500px) {
    .btn-sm {
        font-size: 11px;
        line-height: 15px;
    }
    .text-sm {
        font-size: 14px;
    }
    .logo {
        width: 90px;
    }

    .side-nav {
        width: 100vw;
        transform: translateX(-5%);
    }

    .hamburger-menu {
        width: 20px;
        height: 20px;
    }

    
}