@import url("global.css");
@import url("responsive.css");
.dropdown-menu{
    position: absolute;
    right: 0;
}
.dropdown:hover .dropdown-menu {
    display: block;

}
/* Navbar Start */
nav {
    position: relative;
}
nav.sticky{
    background: white;
}
.hamburger-menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hamburger-menu .line {
    width: 100%;
    height: 3px;
    background: royalblue;
    transition: all 0.5s;
}

/* Side  */
.side-nav {
    z-index: 1111;
    width: 50vw;
    position: fixed;
    left: 0;
    top: 0px;
    transform: translateX(-10%);
    display: none;
}
.nav-list {
    background: var(--primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 0 20% 90% 0;
}

.nav-list .item {
    list-style: none;
    margin: 3px 0;
    padding: 3px 0px 3px 90px;
}

.nav-list .item .link {
    text-decoration: none;
    color: var(--text);
    letter-spacing: 1px;
    position: relative;
}

.nav-list .item .link::before {
    content: "";
    width: 100%;
    height: 2px;
    background: #0b4a72;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: left;
}

.nav-list .item:hover .link::before {
    transform: scaleX(1);
}
/* Navbar End */

/* Watch Video */
.push {
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* Watch Video End */


/* Blog  */
section.blog .imgBx:hover img{
    filter: opacity(50%);
}


/* Footer Start */
.foot-nav li{
    position: relative;
}
.foot-nav li a{
    text-decoration: none;
    font-size: 18px;
}
.foot-nav li a::before{
    content: "";
    width: 100%;
    height: 2px;
    background: #0b4a72;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
    /* transform-origin: left; */
}
.foot-nav li:hover a::before{
    transform: scaleX(1);
}

